<keira-top-bar [handler]="handlerService"></keira-top-bar>

<div class="container-fluid editor-with-preview" [ngClass]="{ 'show-preview': questPreviewService.showPreview }">
  <span *ngIf="editorService.loading">Loading...</span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">
    <div class="content-block">
      <keira-query-output
        [docUrl]="docUrl"
        [editorService]="editorService"
        (executeQuery)="editorService.save($event)"
      ></keira-query-output>
    </div>

    <form [formGroup]="editorService.form" class="form-group edit-form">
      <div class="content-block">
        <span class="category-title">Base</span>
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="entry">Entry</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'The unique ID of the quest'"></i>
            <input [formControlName]="'entry'" id="entry" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <label class="control-label" for="Title">Title</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'Title of the quest'"></i>
            <input [formControlName]="'Title'" id="Title" class="form-control form-control-sm" />
          </div>

          <!-- <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="Type">Type</label>
            <keira-single-value-selector-btn
              [control]="editorService.form.controls.Type"
              [config]="{ options: QUEST_TYPE, name: 'Type' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <input [formControlName]="'Type'" id="Type" type="number" class="form-control form-control-sm" />
          </div> -->

          <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <label class="control-label" for="QuestLevel">QuestLevel</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="
                'Level of the quest. Players receive full experience amount only if their level is <= Level+5. If -1, the player level will be used as Quest Level for experience calculation.'
              "
            ></i>
            <input [formControlName]="'QuestLevel'" id="QuestLevel" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="MinLevel">MinLevel</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'Minimum level at which a player can get the quest.'"></i>
            <input [formControlName]="'MinLevel'" id="MinLevel" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="ZoneOrSort">ZoneOrSort</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="
                'Defines under which category the quest falls in the quest log. Value taken from (if > 0) AreaTable.dbc or (if < 0) QuestSort.dbc'
              "
            ></i>
            <input [formControlName]="'ZoneOrSort'" id="ZoneOrSort" type="number" class="form-control form-control-sm" />
          </div>

          <!-- <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="QuestInfoID">QuestInfoID</label>
            <keira-single-value-selector-btn
              [control]="editorService.form.controls.QuestInfoID"
              [config]="{ options: QUEST_INFO, name: 'QuestInfoID' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'These values are ID taken from QuestInfo.dbc'"></i>
            <input [formControlName]="'QuestInfoID'" id="QuestInfoID" type="number" class="form-control form-control-sm" />
          </div> -->

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="SuggestedPlayers">SuggestedPlayers</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'Recommended number of players to do the quest together.'"
            ></i>
            <input [formControlName]="'SuggestedPlayers'" id="SuggestedPlayers" type="number" class="form-control form-control-sm" />
          </div>

          <!-- <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="SrcItemId">
              <keira-icon [itemId]="editorService.form.controls.SrcItemId.value"></keira-icon>
              SrcItemId
            </label>
            <keira-item-selector-btn
              [control]="editorService.form.controls.SrcItemId"
              [config]="{ name: 'SrcItemId' }"
            ></keira-item-selector-btn>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'Items given by the quest giver at beginning of the quest. They will be deleted when quest is abandoned.'"
            ></i>
            <input [formControlName]="'SrcItemId'" id="SrcItemId" type="number" class="form-control form-control-sm" />
          </div> -->

          <!-- <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="Flags">Flags</label>
            <keira-flags-selector-btn
              [control]="editorService.form.controls.Flags"
              [config]="{ flags: QUEST_FLAGS, name: 'Flags' }"
            ></keira-flags-selector-btn>
            <input [formControlName]="'Flags'" id="Flags" type="number" class="form-control form-control-sm" />
          </div> -->

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="LimitTime">LimitTime</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'Time (in seconds) that the player has to complete this quest'"
            ></i>
            <input [formControlName]="'LimitTime'" id="LimitTime" type="number" class="form-control form-control-sm" />
          </div>

          <!-- <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredRaces">RequiredRaces</label>
            <keira-flags-selector-btn
              [control]="editorService.form.controls.RequiredRaces"
              [config]="{ flags: ALLOWABLE_RACES, name: 'RequiredRaces' }"
            ></keira-flags-selector-btn>
            <input [formControlName]="'RequiredRaces'" id="RequiredRaces" type="number" class="form-control form-control-sm" />
          </div> -->

          <!-- <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="Unknown0">Unknown0</label>
            <input [formControlName]="'Unknown0'" id="Unknown0" type="number" class="form-control form-control-sm" />
          </div> -->

          <!-- RequiredPlayerKills is called "PlayersSlain" on M2/M3 -->
          <!-- <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredPlayerKills">RequiredPlayerKills</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'How many players you need to kill in order to complete the quest.'"
            ></i>
            <input [formControlName]="'RequiredPlayerKills'" id="RequiredPlayerKills" type="number" class="form-control form-control-sm" />
          </div> -->
        </div>
      </div>
      <div class="content-block">
        <span class="category-title">Point Of Interest</span>
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="PointMapId">PointMapId</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'MapId of the Point Of Interest that will be shown on the map when the quest is active'"
            ></i>
            <input [formControlName]="'PointMapId'" id="PointMapId" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="PointX">PointX</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'X coordinate of the Point Of Interest that will be shown on the map when the quest is active'"
            ></i>
            <input [formControlName]="'PointX'" id="PointX" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="PointY">PointY</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'Y coordinate of the Point Of Interest that will be shown on the map when the quest is active'"
            ></i>
            <input [formControlName]="'PointY'" id="PointY" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="PointOpt">PointOpt</label>
            <input [formControlName]="'PointOpt'" id="PointOpt" type="number" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title">Texts</span>
        <div class="row">
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <label class="control-label" for="EndText">EndText</label>
            <textarea [formControlName]="'EndText'" id="EndText" class="form-control form-control-sm"></textarea>
          </div>

          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <label class="control-label" for="Details">Details</label>
            <textarea [formControlName]="'Details'" id="Details" class="form-control form-control-sm"></textarea>
          </div>

          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <label class="control-label" for="Objectives">Objectives</label>
            <textarea [formControlName]="'Objectives'" id="Objectives" class="form-control form-control-sm"></textarea>
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title">
          ObjectiveTexts
          <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'Non-standard objective texts displayed in the quest log'"></i>
        </span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <label class="control-label" for="ObjectiveText{{ i }}">ObjectiveText{{ i }}</label>
            <input [formControlName]="'ObjectiveText' + i" id="ObjectiveText{{ i }}" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <!-- <div class="content-block">
        <span class="category-title">
          RequiredItems <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'Items required to complete the quest'"></i>
        </span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="ReqItemId{{ i }}">
                  <keira-icon [itemId]="editorService.form.controls['ReqItemId' + i].value"></keira-icon>
                  Req.ItemId{{ i }}
                </label>
                <keira-item-selector-btn
                  [control]="editorService.form.controls['ReqItemId' + i]"
                  [config]="{ name: 'ReqItemId' + i }"
                ></keira-item-selector-btn>
                <input [formControlName]="'ReqItemId' + i" id="ReqItemId{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
              <div class="col-12">
                <label class="control-label" for="ReqItemCount{{ i }}">Req.ItemCount{{ i }}</label>
                <input [formControlName]="'ReqItemCount' + i" id="ReqItemCount{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="content-block">
        <span class="category-title">
          Required Factions, NpcOrGo
          <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'If > 0: creature; if < 0: gameobject'"></i>
        </span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="ReqCreatureOrGOId{{ i }}">ReqCreatureOrGOId{{ i }}</label>
                <input
                  [formControlName]="'ReqCreatureOrGOId' + i"
                  id="ReqCreatureOrGOId{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-12">
                <label class="control-label" for="ReqCreatureOrGOCount{{ i }}">ReqCreatureOrGOCount{{ i }}</label>
                <input
                  [formControlName]="'ReqCreatureOrGOCount' + i"
                  id="ReqCreatureOrGOCount{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
            </div>
          </div>

          <div *ngFor="let i of [1, 2]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RepObjectiveFaction">RepObjectiveFaction</label>
            <keira-faction-selector-btn
              [config]="{ name: 'RepObjectiveFaction' }"
              [control]="editorService.form.controls['RepObjectiveFaction']"
            ></keira-faction-selector-btn>
            <input [formControlName]="'RepObjectiveFaction'" id="RepObjectiveFaction" type="number" class="form-control form-control-sm" />

            <label class="control-label" for="RepObjectiveValue">RepObjectiveValue</label>
            <input [formControlName]="'RepObjectiveValue'" id="RepObjectiveValue" type="number" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title">ReqSourceIds</span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="ReqSourceId{{ i }}">
                  <keira-icon [itemId]="editorService.form.controls['ReqSourceId' + i].value"></keira-icon>
                  ReqSourceId{{ i }}
                </label>
                <keira-item-selector-btn
                  [control]="editorService.form.controls['ReqSourceId' + i]"
                  [config]="{ name: 'ReqSourceId' + i }"
                ></keira-item-selector-btn>
                <input [formControlName]="'ReqSourceId' + i" id="ReqSourceId{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
              <div class="col-12">
                <label class="control-label" for="ReqSourceCount{{ i }}">ReqSourceCount{{ i }}</label>
                <input
                  [formControlName]="'ReqSourceCount' + i"
                  id="ReqSourceCount{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="content-block">
        <span class="category-title">Rewards</span>
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewardTitle">RewardTitle</label>
            <input [formControlName]="'RewardTitle'" id="RewardTitle" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="NextQuestInChain">NextQuestInChain</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'The ID of the next quest that will be added automatically when completing the quest'"
            ></i>
            <input [formControlName]="'NextQuestInChain'" id="NextQuestInChain" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewOrReqMoney">RewOrReqMoney</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'If value > 0: money earned by completing the quest; if value < 0: money required to complete the quest'"
            ></i>
            <input [formControlName]="'RewOrReqMoney'" id="RewOrReqMoney" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewMoneyMaxLevel">RewMoneyMaxLevel</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'The money a character at level 80 would get when they complete this quest.'"
            ></i>
            <input [formControlName]="'RewMoneyMaxLevel'" id="RewMoneyMaxLevel" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewSpellCast">RewSpellCast</label>
            <input [formControlName]="'RewSpellCast'" id="RewSpellCast" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewSpell">RewSpell</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="
                'Spell that is shown to be casted on quest completion in the quest log. Note that this spell will NOT be casted if RewSpellCast is non-zero.'
              "
            ></i>
            <keira-spell-selector-btn
              [control]="editorService.form.controls.RewSpell"
              [config]="{ name: 'RewSpell' }"
              [modalClass]="'modal-lg'"
            ></keira-spell-selector-btn>
            <input [formControlName]="'RewSpell'" id="RewSpell" type="number" class="form-control form-control-sm" />
          </div>
        </div>
      </div> -->
      <!-- <div class="content-block">
        <span class="category-title">RewItemIds</span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="RewItemId{{ i }}">
                  <keira-icon [itemId]="editorService.form.controls['RewItemId' + i].value"></keira-icon>
                  Rew.Item{{ i }}
                </label>
                <keira-item-selector-btn
                  [control]="editorService.form.controls['RewItemId' + i]"
                  [config]="{ name: 'RewItemId' + i }"
                ></keira-item-selector-btn>
                <input [formControlName]="'RewItemId' + i" id="RewItemId{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
              <div class="col-12">
                <label class="control-label" for="RewItemCount{{ i }}">RewItemCount{{ i }}</label>
                <input [formControlName]="'RewItemCount' + i" id="RewItemCount{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="content-block">
        <span class="category-title">RewChoiceItem</span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="RewChoiceItemId{{ i }}">
                  <keira-icon [itemId]="editorService.form.controls['RewChoiceItemId' + i].value"></keira-icon>
                  ChoiceItem{{ i }}
                </label>
                <keira-item-selector-btn
                  [control]="editorService.form.controls['RewChoiceItemId' + i]"
                  [config]="{ name: 'RewChoiceItemId' + i }"
                ></keira-item-selector-btn>
                <input
                  [formControlName]="'RewChoiceItemId' + i"
                  id="RewChoiceItemId{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-12">
                <label class="control-label" for="RewChoiceItemCount{{ i }}">RewChoiceItemCount{{ i }}</label>
                <input
                  [formControlName]="'RewChoiceItemCount' + i"
                  id="RewChoiceItemCount{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="content-block">
        <span class="category-title">
          RewardFactions
          <i
            class="fas fa-info-circle ms-1"
            [placement]="'auto'"
            [tooltip]="'Faction ID for which the quest adds (or subtracts) reputation points.'"
          ></i>
        </span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4, 5]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="RewRepFaction{{ i }}">RewRepFaction{{ i }}</label>
                <keira-faction-selector-btn
                  [config]="{ name: 'RewRepFaction' + i }"
                  [control]="editorService.form.controls['RewRepFaction' + i]"
                ></keira-faction-selector-btn>
                <input
                  [formControlName]="'RewRepFaction' + i"
                  id="RewRepFaction{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-12">
                <label class="control-label" for="RewRepValue{{ i }}">RewRepValue{{ i }}</label>
                <input [formControlName]="'RewRepValue' + i" id="RewRepValue{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </form>

    <keira-quest-preview></keira-quest-preview>
  </div>
</div>
